body {
    background: url(/images/image-sky-1.jpg);
    background-position-x: 20%;
    background-position-y: 50%;
}

.card {
    border-radius: 15px;
    max-width: 900px;
    margin: 30px auto;
    background: rgba(255, 255, 255, 0.4);
}

.color-input {
    background: rgba(255, 255, 255, 0.4);
}

.country {
    color: black;
    font-size: 50px;
    font-family: M PLUS Code Latin;
}

.col-temperature {
    font-family: M PLUS Code Latin;
    color: black;
}

#tempActual {
    font-size: 75px;
    position: relative;
    padding-right: 0px;
    margin-left: 10%;
}

#celsius {
    font-size: 15px;
    text-decoration: none;
    color: #3d7b80;
    
}

#fahrenheit {
    font-size: 15px;
    text-decoration: none;
    color: #3d7b80;
}

.units {
    position: relative;
    padding-left: 0px;

}

#celsius:hover {
    font-weight: bold;
    text-decoration: underline;
    font-size: 18px;
    
   
}

#fahrenheit:hover {
    font-weight: bold;
    text-decoration: underline;
    font-size: 18px;
    

}

.weather {
    width: 90px;
}

.detailWeather {
    font-size: 15px;
    font-weight: lighter;
}

.phrase {
    font-size: 20px;
    font-family: Griffy;
}

.temperatureGrid {
    color: black;
    font-size: 15px;
    font-family: M PLUS Code Latin;
    font-weight: lighter;
}

.day {
    font-size: 24px;
    font-weight: bold;
    font-family: Georgia, "Times New Roman", Times, serif;
}

.principalW {
    text-align: left;
    display: inline-block;
}


.limitTemp {
    color:#3d7b80;
    font-weight: bold;
}

.colorTime {
    color: #3d7b80;
    font-weight: bold;


}

.secondaryTemp {
    color: rgba(61, 123, 128 , 0.5);

}

a {
    color: #3d7b80;
}

a:hover {
    color: #3d7b80;
}

.weather-date {
    font-size: 25px;
    font-family: M PLUS Code Latin;
    font-weight: bold;
}

.weather-forecast {
    margin-top: 20px;
    text-align: center;

}